/* CSS Selector */

/* 
    * - universal selector; it is used to target all elements inside the html tag

        font-family - changes the style of the font
            Courier New - is the font that is to be used by the webpage to display the texts
            monospace - the family from which the browser will try to search for a font once the Courier New is not available

        font-size - changes the font size
            20px - value of the font size


 CSS Styling Specificity
    inline styling has the highest priority over internal and external styling
    external styling has the lowest priority over inline and internal styling


CSS Styling Prioritization - inline>internal>external

!important - property used in CSS to override the CSS priority rule. It makes the property which it is attached a priority over any other conflicting styels (regardless if it's internal or inline) 

        - if conflicting styles are trying to modify the same element with the use of !important, CSS style priority rule will take effect

h1 {
    color: red !important;
    background-color: pink;
}

*/



* {
    font-family: "Courier New", monospace;
    font-size: 20px;
}

/* ID selector
    id selector - unique styling of an element 
#idName */

/* 
    letter-spacing - used to change the spaces in between the characters of the text
*/

#zuitt-motto {
    letter-spacing: 5px;
}

h3 {
    letter-spacing: 25px;
}

/* Class selector
    text-transform - used to change the casing of the text
*/

.offering-item {
    text-transform: uppercase;
}

/* attribute selector
        will only work if the element has the exact attribute that is specified in the selector, case sensitive
    SYNTAXT:
        tag[attribute]
*/


input[required] {
    border: 2px solid navy;
}

/* Combination Selectors
        - these selectors require two selectors but the target is the latter/second selector
*/

/* ADJACENT SIBLING SELECTOR 
        - used to target the selector that is next to the first selector
        SYNTAX:
            firstSelector + secondSelector
*/
h3 + img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}


/* 
    in combination selectors, we are not restricted to use uniform/one tag for both. The firstSelector can be a class/id/tag while the secondSelector can be of different selector

#zuitt-motto + img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
} 

*/

/* descendant selector 
     used to select elements (secondSelector) that are inside other elements(firstSelector)
     SYNTAX
        firstSelector secondSelector
*/

/* hexadecimal value of the color property - can be used to specify the target shade for the color */

#bootcamp-learning-list li {
    color: #075966;
}


/* general sibling selector 
        used to target the preceeding siblings (secondSelector) of the firstSelector

*/

h2 ~ a {
    text-decoration: none;
}

/* child selector 
    SYNTAX:
        firstSelector>secondSelector
*/

body>section>form>label {
    color: rgb(0, 0, 128);
}

body {
    background-color: skyblue;
}

html {
    scroll-behavior: smooth;
}

nav{
    background-color: white;
}

a:hover {
    background-color: #b3d6de;
}

div {
    display: inline-block;
}

/* landing section */

section {
    height: 100vh;
    text-align: center;
}

h2 {
    /* rem - root element measurement, it multiplies the value attached to it to the root element, default value=16px */
    font-size: 1.5rem;
}

ol {
    /* list-style-type - changes the bullet/ordering style of the elements */
    list-style-type: none;
}

h2:hover {
    color: green;
}

/* 
    position - property that changes the position of element based on a certain criteria
    left - used along the position property to add a certain measurement to the left of the element (l, r, t, b) - it is recommended to use only 2 of the direction; vertical (top and bottom) or horizontal (left and right) per selector
     -% as the value would be based on the parent element
*/

form {
    text-align: center;
    background-color: white;
    border: 2px solid black;
    height: 250px;
    width: 25vw;
    position: relative;
    left: 37.25%;
}

button {
    background-color: #cf0053;
    color: white;
    border: 0;
    border-radius: 15px;
}

