/* step 5 */
.p3 {
    color: #BD4291;
}
/* --- */

/* step 6 */
* {
    font-family:'Gill Sans', sans-serif;
    font-size: 18px;
}
/* --- */

/* step 7 */
h1 {
    font-size: 50px;
}
/* --- */

/* step 8 */
#list-description {
    text-transform: uppercase;
}
/* --- */

/* step 9 */
.list-item-languages {
    background-color: #47B5FF;
}
/* --- */

/* step 10 */
li[value] {
    border: 2px solid blue;
}
/* --- */

/* step 11 */
img + ul {
    list-style-type: none;
}
/* --- */

/* step 12 */
section img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
/* --- */

/* step 13 */
section ~ p {
    text-align: center;
}
/* --- */

/* step 14 */
ul>li {
    letter-spacing: 5px;
}
/* --- */